*{
    margin:0px;
    padding: 0px;
}

body{
    background: url(../imagen/nawales1-1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#cuadro{
    width:330px;
    background: #090909;
    color: #ffffff;
    margin: auto;
    margin-top: 130px;
    padding: 5px 5px 30px 5px;
    border-top: 35px solid #141414;
    border-right: 35px solid #141414;
    border-left: 35px solid #141414;
    border-radius: 10px;
    opacity: 0.8;
}

#boton{
    width: 200px;
    height: 25px;
    border-radius: 6px;
    background: #964B00;
    color: #ffffff;
    font-size: 15px;
}
